@model NotesMarketplace.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<!-- Section Forgot Password -->
<section id="forgot-password">

    <div class="form-container  my-auto">

        <div class="container">

            <div class="logo text-center">
                <img src="~/images/pre-login/top-logo.png" alt="logo" class="img-fluid">
            </div>

            <!-- White Box -->
            <div class="white-box">

                <!-- Heading -->
                <div class="form-heading text-center">
                    <h2 class="heading-lg">Forgot Password?</h2>
                    <p>Enter your email to reset your password</p>
                </div>

                <!-- Forgot Password Form -->
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forgot-password-form" }))
                 {

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", type = "email", placeholder = "Enter your email address", required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-invalid" })
                    </div>

                    <button type="submit" class="btn btn-form">Submit</button>

                 }

            </div>

        </div>

    </div>

</section>
<!-- Section Forgot Password END -->
