<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NotesMarketplace</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href=" https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700& display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/front/bootstrap/bootstrap.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/front/fontawesome/css/font-awesome.min.css">

    <!-- Common CSS -->
    <link rel="stylesheet" href="~/Content/front/general.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/front/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/front/responsive.css">

</head>
<body>

    @RenderBody()

    <!-- Jquery JS -->
    <script src="~/Scripts/front/jquery/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="~/Scripts/front/bootstrap/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/front/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/front/script.js"></script>

</body>
</html>
